body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(146, 45, 253, 1) 100%
  );
}

.container {
  height: 100vh;
}

.primary-text {
  margin: 0;
  color: white;
}
